{% extends 'pages/home.html' %} {% load static %} {% load humanize %} {% block home %}
<div class="row">
    <!-- profile-widget -->
    <div class="col-lg-12">
        <div class="profile-widget profile-widget-info">
            <div class="panel-body">
                <div class="col-lg-2 col-sm-2">
                    <h4>{{community.created_by.get_full_name}}</h4>
                    <div class="follow-ava">
                        <img {% if community.created_by.profile.dp %} src="{{community.created_by.profile.dp.url}}" {% else %} src="{% static 'img/profile_holder.png' %}" {% endif %}alt="">
                    </div>
                    <h6>Administrator</h6>
                </div>
                <div class="col-lg-4 col-sm-4 follow-info">
                    <p>Join {{community.name|capfirst}} community that brings together clients in {{community.village}} of {{community.sub_county}} in {{community.district}}, {{community.country}}</p>

                    <h6>
                        <span><i class="icon_clock_alt"></i>Created: {{community.created_on|naturaltime}}</span>
                    </h6>
                </div>
                <div class="col-lg-6 col-sm-6 follow-info weather-category">
                    <ul>
                        <li class="active">

                            <i class="fa fa-users fa-2x"> </i><br>
                            <h4 class="text-center">Total members</h4> {{community.total_members}}
                        </li>

                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- page start-->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading tab-bg-info">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#recent-activity">
                            <i class="icon-home"></i> Members
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#profile">
                            <i class="icon-user"></i> About
                        </a>
                    </li>
                </ul>
            </header>
            <div class="panel-body">
                <div class="tab-content">
                    <div id="recent-activity" class="tab-pane active">
                        <div class="profile-activity">
                        	{% for us in community.members.all %}
                            <div class="act-time">
                                <div class="activity-body act-in">
                                    <span class="arrow"></span>
                                    <div class="text">
                                        <a href="#"  class="activity-img">
                                        	<img class="avatar" data-userid="{{ us.pk }}" id="user_{{ us.pk }}" data-email="{{ user.email }}" data-phone="{{  user.profile.account_number }}" data-name="{{ user.get_full_name }}"  {% if us.profile.dp %} src="{{us.profile.dp.url}}" {% else %} src="{% static 'img/profile_holder.png' %}" {% endif %} alt=""></a>
                                        {% if request.user.email and request.user != us and request.user.profile.account_number and us.profile.account_number %}
                                            <button style="float:right;" onClick="makePayment({{ us.pk }})" class="btn-sm btn">Buy units</button>
                                        {% elif request.user == us %}
                                            <button style="float:right;" type="button" class="btn btn-muted">This is you</button>
                                        {% elif not us.profile.account_number %}
                                            <button style="float:right;" type="button" class="btn btn-muted">Blocked payments</button>
                                            {% else %}
                                            <a style="float:right;" href="{% url 'payment:profile' %}" class="btn-sm btn">Finish profile first</a>
                                        {% endif %}
                                        <p class="attribution text-info"><a>{{us.get_full_name}}</a> Total units: {{us.profile.units}}</p>
                                        <p class="text-info">
                                        	<strong>From: {% if us.profile.address %} {{us.profile.address}} {% else %} Unknown address.{% endif %}</strong><br>
{#                                        	<input type="number" id="units" step="0.1" max="{{us.profile.units}}" min="0.1" value="{{us.profile.units}}" name="">#}
                                            <button type="button" class="btn" onclick="decrease({{ us.pk }})" id="decrease">-</button> <span data-id="{{ us.profile.units }}" id="units_{{ us.pk }}">{{ us.profile.units }}</span>  <button onclick="increase({{ us.pk }})" class="btn" id="increase" type="button">+</button> <span class="float-right text-danger" id="price_{{ us.pk }}">{{ us.profile.default_total }}</span>
                                        <form id="myhiddenform" action="{% url 'payment:pay' %}" method="post">
                                            {% csrf_token %}
                                        </form>
                                        </p>

                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- profile -->
                    <div id="profile" class="tab-pane">
                        <section class="panel">
                            <div class="bio-graph-heading">
                                {{community.about|safe}}
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock home %}

 {% block homescripts %}
     <script>
    function increase(id){
        var total_units = Number($("#units_"+id).data("id"))
        var units_now = Number($("#units_"+id).text())
        if (units_now >= total_units){
            $("#units_"+id).text(String(units_now.toFixed(1)))
        }else{
            $("#units_"+id).text(String((units_now+0.1).toFixed(1)))
        }
         price(id)
    }

    function price(id){
        var units_now = Number($("#units_"+id).text())
        var new_price = units_now * 550
        $("#price_"+id).text("UGX. "+String(new_price))
    }

    function decrease(id){
        var units_now = Number($("#units_"+id).text())
        if (units_now <= 0.1){
            $("#units_"+id).text("0.1")
        }else{
            $("#units_"+id).text(String((units_now-0.1).toFixed(1)))
        }
         price(id)
    }

    function txGenerator() {
        var time_now = new Date().getTime()
        return "Awesome-"+time_now
    }


    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

    function makePayment(id) {
        var units_now = Number($("#units_"+id).text())
        var new_price = units_now * 550
        FlutterwaveCheckout({
                public_key: "FLWPUBK_TEST-b478401e9a57b88d6b8243639e3ca9d7-X",
                tx_ref: txGenerator(),
                amount: new_price,
                currency: "UGX",
                country: "UG",
                payment_options: "mobilemoneyuganda",
                customer: {
                    email: $('#user_'+id).data('email'),
                    phone_number: $('#user_'+id).data('phone'),
                    name: $('#user_'+id).data('name'),
                },
                callback: function (data) {
                    console.log(data);
                    var seller_id = $('#user_'+id).data('userid')
                    var body = {
                        "status":data.status,
                        "seller_id":seller_id,
                        "transaction_id": data.transaction_id,
                        "tx_ref":data.tx_ref,
                        "flw_ref": data.flw_ref,
                        "amount" : data.amount,
                        "units": units_now
                    }
                    $.ajax({
                        url:$("#myhiddenform").attr("action"),
                        data: body,
                        dataType: 'json',
                        type:'POST',
                        headers: {
                            "X-CSRFToken": getCookie("csrftoken")
                        },
                        success:function (res) {
                            if (res.status){
                                $.ajax({
                                    url: "https://api.flutterwave.com/v3/transfers",
                                    headers: {
                                        'Content-Type': 'application/json',
                                        "Authorization" : "Bearer FLWSECK_TEST-06e17cc7ae4c99be6b3b247ecd217f77-X"
                                    },
                                    data: res.data,
                                })
                            }else{
                                alert("Error: There was a technical error")
                            }
                        }
                    })
                },
                customizations: {
                    title: "Electricity purchase",
                    description: "Purchase of "+units_now+" by "+$('#user_'+id).data('name'),
                    logo: "https://www.thoughtco.com/thmb/NjWNoDg8rEZ4KVQMUq3xwp3G6tU=/735x0/lightbulblit-57a5bf6b5f9b58974aee831e.jpg",
                },
            });
    }

     </script>
 {% endblock homescripts %}